.forecast {
  --forecast-direction: column;
  --forecast-flex-wrap: wrap;
  --forecast-align-items: stretch;
  --img-flex-grow: 1;
  --title-text-align: center;
  --info-padding: 24px;
}

// small screen
@media (min-width: 576px) {
  .forecast {
    --forecast-direction: row;
    --forecast-flex-wrap: nowrap;
    --forecast-align-items: center;
    --img-flex-grow: 0;
    --title-text-align: left;
    --info-padding: 0;
  }
}

.forecast {
  width: calc(100% - 4px);
  border: 2px solid var(--primary-border-color);
  border-radius: 8px;
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: var(--forecast-direction);
  flex-wrap: var(--forecast-flex-wrap);
  align-items: var(--forecast-align-items);

  &__loading {
    margin: 0 auto;
    padding: 24px 0;
  }

  &__img {
    flex-grow: var(--img-flex-grow);
    margin: 0 auto;
    max-width: 100%;
  }

  &__info {
    flex: 1;
    padding-right: 24px;
    padding-left: var(--info-padding);
    padding-bottom: var(--info-padding);
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    font-size: 1.25rem;
    text-align: var(--title-text-align);
    margin-top: 0;
    margin-bottom: 16px;
  }

  &__data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }
}