html, body {
  padding: 0;
  margin: 0;

  height: 100%;
  width: 100%;

  font-family: 'Roboto', sans-serif;
}

body {
  min-width: 300px;

  // container variables
  --container-side-padding: 16px;

  // style variables
  --primary-text-color: #24292f;
  --secondary-text-color: #b4b4b4;
  --link-color: blue;
  --bg-primary: #ffffff;
  --bg-secondary: #fafafa;
  --primary-border-color: #d8dee4;

  color: var(--text-color);
  background-color: var(--bg-primary);
}

body.dark-mode {
  --text-color: #c9d1d9;
  --link-color: #ffffff;
  --bg-primary: #0D1117;
  --bg-secondary: #161D27;
}

p {
  margin-top: 0;
}

a {
  &:link, &:visited, &:hover, &:active {
    color: var(--link-color);
  }
}

// small screen
@media (min-width: 576px) {}

// medium screen
@media (min-width: 768px) {
  .container {
    --container-side-padding: 40px;
  }
}

// large screen
@media (min-width: 992px) {
  .container {
    --container-side-padding: 16px;
  }
}

.container {
  max-width: 960px;
  padding-left: var(--container-side-padding);
  padding-right: var(--container-side-padding);
  margin-left: auto;
  margin-right: auto;
}
